@import '../../variables';


.page-about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &_content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
  }

  &_hero {
    width: 30%;
    background-color: yellow;
  }

  &_info {
    width: 70%;
    background-color: grey;
  }
}

