@import '../../../variables';

.experience {

  &-header {
      font-family: $font-accent;
      width: fit-content;
  }

  &-content {

    &__block {
      margin: 1.4rem 0;
      
      h3 {
        font-family: $font-monospace;
      }
      h4 {
        font-family: $font-monospace;
        font-size: 14px;
        margin: 5px 0;
      }
      .date {
        font-family: $font-monospace;
      }
      p {
        font-size: 14px;
        font-weight: 300;;
        margin: 5px 0;
      }
    }
  }

  &.light {
    h2 {
      color: $color-light-accent;
    }
    h3 {
      color: $color-light-accent;
    }
    h4 {
      color: $color-light-accent;
    }
    p {
      color: $color-light-accent;
    }
  }
  &.dark {
    h2 {
      color: $color-dark-accent;
      background-color: black;
    }
    h3 {
      color: $color-dark-accent;
    }
    h4 {
      color: $color-dark-primary;
    }
    p {
      color: $color-dark-primary;
    }
  }
}

@media (max-width: 390px) {
  .experience {
    padding: 1rem;
  }
}
