@import '../../variables';


.themeBtn {

  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  border: none;
  border-bottom-left-radius: 100%;
  padding-bottom: 20px;
  padding-left: 20px;
  z-index: 5;

  &:hover {
    transform: scale(1.2);
    transform-origin: top right;
    cursor: pointer;
  }

  &.light{
    background-color: $color-light-accent;
  }
  &.dark{
    background-color: $color-dark-accent;
  }
}

@media (max-width: 420px) {
  .themeBtn {
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 10px;
    padding-right: 10px;

  }
}