@import '../../variables';


.page-about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &_content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  &_hero {
    width: 300px;
    height: 500px;
    margin: 80px 3rem 0 3rem;
  }

  &_btn {
    display: none;
  }

  &_info {
    width: 600px;
    display: flex;
    margin-right: 3rem;
    .about-info {
      &_buttons {
      width: 100px;
      margin: 0 3rem;
      }
      &_btn:hover {
        cursor: pointer;
      }

    }
  }


  &.light{
    background-color: $color-light-secondary;
    
    .about-info_btn {
      background-color: $color-light-primary;
      &:hover {
        font-weight: bold;
      }

      &.selected {
        background-color: $color-light-accent;
        color: $color-light-secondary;
        font-weight: bold;
      }
    }
  }

  &.dark {
    background-color: $color-dark-secondary;

    .about-info_btn {
      background-color: $color-dark-primary;
      &:hover {
        font-weight: bold;
      }

      &.selected {
        background-color: $color-dark-accent;
        color: $color-dark-secondary;
        font-weight: bold;
      }
    }

    .page-about_btn {
      color: $color-dark-accent;
    }
  }
}

.about-info_btn {
  border-style: none;
  height: 50px;
  aspect-ratio: 2/1;

  @media (max-width: 420px) {
    width: 25%;
  }
}


//TYPE
.accent {
  font-weight: bold;
  transition: all 100ms ease-in;
  
  &.light{
    background-color: $color-light-accent;
    color: $color-light-secondary;
    &:hover {
      background-color: $color-light-secondary;
      color: $color-light-accent;
      border: 1px solid $color-light-accent;
    }
  }
  &.dark{
    background-color: $color-dark-accent;
    color: $color-dark-secondary;
    &:hover {
      background-color: $color-dark-primary;
      color: $color-dark-accent;
      border: 1px solid $color-light-accent;
    }
  }
}



@media (max-width: 768px) {
  .page-about {
  
    &_content {
      flex-direction: column;
      align-items: center;
    }
  
    &_hero {
      width: 80%;
      height: 300px;
      margin: 80px 1.5rem 3rem 1.5rem;
    }
  
    &_info {
      top: 50vh;
      height: 45%;
      overflow-y: scroll;
      .about-info {
          &_buttons {
          width: 100px;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .page-about {
    overflow-y: scroll;
  
    &_content {
      margin-top: 3rem;
    }
  
    &_hero {
      width: 100%;
      margin-top: 80px;
      display: flex;
      justify-content: center;
    }

    &_btn {
      display: flex;
      align-self: flex-end;
      border: none;
      background-color: transparent;
      color: $color-light-accent;
      font-size: 16px;
      font-family: $font-monospace;
      margin: 0 1rem 1rem 0;

    }

  
    &_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: visible;
      margin: 0;

      .about-info {

          &_buttons {
          flex-wrap: wrap;
          width: 100vw;
          margin: 0;
          padding: 0;
          justify-content: center;

          &_btn {
            width: fit-content;
          }
        }
      }
    }
  }
}
