@import '../../variables';

.page-home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  .bg {
    width: 50%;
    height: 100%;
    position: absolute;
    
    &-left {
      top: 0;
      left: 0;
      z-index: -1;
    }
    &-right {
      // top: 0;
      right: 0;
      z-index: -1;
    }
  }
  
  .home {
    &-content {
      margin-bottom: 10%;
    }

    &-title {
      font-size: 10rem;
      font-weight: bold;
      display: flex;
      font-family: $font-title;
      
      &_name {
        margin-right: 2rem;
      }
      &_surname {
        margin-left: 2rem;
      }
    }
    
    &-captcha {
      font-weight: bold;
      font-size: 2rem;
      font-family: $font-accent;
      margin-top: 4rem;
      text-align: end;
    }

    &-btn {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 8rem;

    }
  }

  .in-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

    p {
      font-family: $font-monospace;
      font-size: 1.2rem;
      margin-top: 1rem;
      text-align: center;
    }

    &__link {
      margin: 0 10px;
      width: 10px;

      img {
        width: 1.2rem;

        &:hover {
          scale: 1.2;
        }
      }
    }
    
  }
}


//THEMES LIGHT/DARK
.page-home.light {
  .bg-left {
    background-color: $color-light-primary;
  }
  .bg-right {
    background-color: $color-light-secondary;
  }
  .home-title{
    &_name {
      color: $color-light-accent;
    }
    &_surname{
      color: $color-light-primary;
    }
  }
  .home-captcha_description{
    color: $color-light-accent
  }

  .in-construction p {
    color: $color-light-accent
  }
}
.page-home.dark {
  .bg-left {
    background-color: $color-dark-primary;
  }
  .bg-right {
    background-color: $color-dark-secondary;
  }
  .home-title{
    &_name {
      color: $color-dark-accent;
    }
    &_surname{
      color: $color-dark-primary;
    }
  }
  .home-captcha_description{
    color: $color-dark-accent
  }

  .in-construction p {
    color: $color-dark-accent
  }
  .in-construction img {
    filter: invert(100);
  }
}

@media (max-width: 1024px) {
  .home-title{
    &_name {
      font-size: 7rem;
    }
    &_surname {
      font-size: 7rem;
    }
  }
  .home-captcha_description {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .page-home {
    position: relative;
    
    .bg {
      width: 100%;
      position: absolute;
      
      &-left {
        height: 40%;
        top: 0;
        z-index: -3;
      }
      &-right {
        height: 60%;
        bottom: 0;
        z-index: -1;
      }
    }
  

    .home-content {
      position: absolute;
      top: 40%;
      margin-top: -7rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .home-title{
      flex-direction: column;

      &_name {
        font-size: 6rem;
        margin: 0;
      }
      &_surname {
        font-size: 6rem;
      }
    }
    .home-captcha {
      margin-top: 2rem;

      &_description {
        font-size:24px;
      }
    }

  }
  .in-construction {
    position: absolute;
    top: calc(100% - 220px);
  }
}

@media (max-width: 390px) {
  .page-home {

    .home-content {
      margin-top: -5.5rem;
    }

    .home-title{
      flex-direction: column;
      
      &_name {
        font-size: 5rem;
      }
      &_surname {
        font-size: 5rem;
      }
    }
    .in-construction {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-height: 390px) {
  .page-home {
    height: 769px;
    overflow-y: scroll;
  }

}
