.projectCard {
  border: 2px solid red;
  width: 400px;
  margin: 2rem;

  h2 {

  }

  h3 {
    
  }

  .image-container {
    width: 400px;
    aspect-ratio: 3/2;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}