@import '../../variables';


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;

  .page-icon {
    display: none;
  }

  .page-title {
    font-family: $font-title;
    font-size: 3rem;
  }

  //THEMES
  &.light {
    .themeBtn{
      color: $color-light-accent;
    }
    .page-title{
      color: $color-light-accent;
    }
  }
  &.dark {
    .themeBtn{
      color: $color-dark-primary;
    }
    .page-title{
      color: $color-dark-accent;
    }
  }
}

@media (max-width: 420px) {
  .navbar {
    margin: 1rem 0;

    & .page-icon {
      display: flex;
      position: absolute;
      left: 1.5rem;
      color: $color-light-accent;
    }
    
    & .page_btn {
      display: none;
    }
    
    & .page-title {
      font-size: 2.5rem;
    }

    &.dark {
      & .page-icon {
        color: $color-dark-accent
      }
    }
  }
}

