@import '../../../variables';

.education {

  h2 {
    font-family: $font-accent;
    width: fit-content;
  }

  &-content {

    &__block {
      font-family: $font-monospace;
      margin: 1.4rem 0;

      h4 {
        font-size: 14px;
        margin: 5px 0;
      }
      p {
        font-size: 14px;
        font-weight: 300;;
      }
    }
  }

  &.light {
    h2 {
      color: $color-light-accent;
    }
    h3 {
      color: $color-light-accent;
    }
    h4 {
      color: $color-light-accent;
    }
    p {
      color: $color-light-accent;
    }
  }
  &.dark {
    h2 {
      color: $color-dark-accent;
      background-color: black;
    }
    h3 {
      color: $color-dark-accent;
    }
    h4 {
      color: $color-dark-primary;
    }
    p {
      color: $color-dark-primary;
    }
  }
}

@media (max-width: 420px) {
  .education {
    padding: 1rem;
  }
}