@import '../../../variables';

.education {

  h2 {
    font-family: $font-accent;
    
  }

  &-content {

    &__block {
      font-family: $font-monospace;
      margin: 1.4rem 0;

      h4 {
        font-size: 14px;
        margin: 5px 0;
      }
      p {
        font-size: 14px;
        font-weight: 300;;
      }
    }
  }
}
