@import '../../variables';


.page-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .projects-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}

.page-projects.light{
  background-color: $color-light-secondary;

}

.page-projects.dark {
  background-color: $color-dark-secondary;

}


