@import '../../../variables';

.aboutMe {

  &-header {
    h2 {
      font-family: $font-accent;
    }
    h3 {
      font-family: $font-monospace;
    }
  }

  &-content {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: justify;
    margin: 1rem 0;

    p {
      margin: 1rem 0;
    }
  }
}