@import '../../../variables';

.aboutMe {

  &-header {
    h2 {
      font-family: $font-accent;
      width: fit-content;
    }
    h3 {
      font-family: $font-monospace;
    }
  }

  &-content {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: justify;
    margin: 1rem 0;

    p {
      margin: 1rem 0;
    }
  }

  &.light {
    &-header {
      h2 {
        color: $color-light-accent;
      }
      h3 {
        color: $color-light-accent;
      }
    }
    .aboutMe-content {
      p {
        color: $color-light-accent;
      }
    }
  }

  &.dark {
    .aboutMe-header {
      h2 {
        color: $color-dark-accent;
        background-color: black;
      }
      h3 {
        color: $color-dark-accent;
      }
    }
    .aboutMe-content {
      p {
        color: $color-dark-primary;
      }
    }
  }
}

@media (max-width: 390px) {
  .aboutMe {
    padding: 1rem;
  }
}